/* login.css */

/* ... (your existing imports and other styles) ... */
.login-align-center{
  width: 100%;
  height: 100vh;
  background-color: #DBEAE9; 

}
.tb-align-center {
  background-color: #9ABCBF;
  width: 400px;
  height: 400px;
  margin: auto; /* Center the form horizontally */
  margin-top: 10vh; /* Adjust the top margin as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

.f-login {
  width: 80%; /* Adjust the width of the form content */
  margin: 0 auto;
}

.f-login input {
  width: 100%;
  padding: 10px; /* Adjust the padding for input fields */
  margin-bottom: 15px; /* Increase the margin between input fields */
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 5px; /* Add border-radius for a softer look */
}

.f-login input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  border-radius: 5px; /* Add border-radius for a softer look */
}

.f-login input[type="submit"]:hover {
  background-color: #45a049;
}

.underline::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}

.underline::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: linear-gradient(to right, #99004d 0%, #ff0080 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
