/* styles.css (hoặc tệp CSS của bạn) */
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
   

  }
  .search-container{
    padding: 5px;

  }
  .keyword {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  .search input[type="search"] {
    border-radius: 20px;
    width: 370px;
    height: 30px;
    border: 3px solid black;


  }
  .search-button {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    margin-left: -40px;
  }
  
  
  